#root {
    --main-background-color: #43759E;
}

.app {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    font-family: 'sans-serif', Robot;
}

.social_inputs {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

textarea {
    height: 60px;
    resize: none;
    font-family: 'sans-serif', Robot;
}

.btn {
    height: 50px;
    cursor: pointer;
}

input {
    height: 30px;
}

.social_card {
    display: flex;
    flex-direction: column;
    width: 650px;
    height: 380px;
    background: var(--main-background-color);
    color: #fff;
    padding:  60px 30px 30px 60px;
    font-family: sans-serif, 'Roboto';
    border-radius: 8px;
    box-shadow: 0 0 7px 4px rgb(175, 174, 174);
}

.row {
    display: flex;
    height: 300px;
    justify-content: space-between;
}

img {
    width: 300px;
    box-shadow: 0 0 10px 2px rgba(218, 218, 218, .4);
}

h2 {
    font-size: 30pt;
    padding: 0;
    margin: 0;
}

a {
    color: white;
    font-size: 20pt;
    cursor: pointer;
    margin-right: 40px;
}

.social_icons {
    display: flex;
    width: 200px;
}

p {
    width: 300px;
    font-size: 10pt;
}

button {
  border: solid white 2px;
  height: 40px;
  width: 100px;
  background: none;
  color: white;  
  cursor: pointer;
}

button:hover {
    color: var(--main-background-color);
    background: white;
    transition: .3s;
}